/*



*/
*, 
*:before, 
*:after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body{
    
    font-family: 'lato', sans-serif, Arial;
    height:auto;
    width: auto;
    overflow-x: hidden;
    color: :#000;
    
}


/*---------------navbar------------------*/


.site-navbar{
    position:relative;
    display: block;
    height:70px;
    background: #805215;
    padding: 0;
    
}

#navbar {
    position:block;
    float:right;
    padding:10px;
}
#navbar > .current{
     color: #5f2104;
}

#navbar > a {
     text-decoration: none;
     font-size: 20px;
     padding:12px;
     color:#fff;
     font-family: 'Lato', sans-serif, Arial;
     text-transform: uppercase;
}


#navbar > a:hover {
    color: #5f2104;
}

.logo {

     position: absolute;
     top:0px;
/*     left:100px; */
}

.site-logo {
    font-size:60px;
    letter-spacing: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color:#fff;
    font-family: 'Lato', sans-serif, Arial;
    
}

#nav-check{
    display:none;
    
}





/*---------------slide show container--------------*/

.slideShow-container {

    position: relative;
    margin-top:10px;
 
}


/*-------------------------images------------*/
.slides {
  display: none;

 
}

.slides img {
    display: block;
    height: 500px;
    width: 1030px;
    vertical-align: bottom;
    margin:auto;
}


/*------------dots-----------*/

.dot {
    
    position: relative;
    display:inline-block;
    cursor: pointer;
    height:20px;
    width:20px;
    border-radius: 50%;
    background-color:  rgb(128, 82, 21); 
    text-align: center;
    transition: .6s ease;
    left:46%;
    
}

.slideshow-dots{

    position: relative;
    margin-top:10px;
}

.active,
.dot:hover{
    background-color: #ffd50d;
}

/*----------next and previous buttons---------*/
.next, 
.prev{
    
    position: absolute;
    cursor: pointer;
    top: 41%;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    transition: .6s ease;
    padding-bottom: 10px;
    
}

.prev{
    left:9.7%;
    padding-right:10px;
   
}

.next{
    
    right:9.7%;
    padding-left:10px;
    padding-right: 0px;
}

/*add a backgorund hover color to next and prev arrows*/
/*create animation for each image with opacity less than 1 to see image through*/
.next:hover, 
.prev:hover{
    background-color:rgba(128, 82, 21, .8);
}
/*----create animation for photos and dots at the bottom of carousel-----*/
.fade{
    
    animation-name: fade;
    animation-duration: 1s;
}

/*------sections-divider------*/

.sections-divider{
    
      display: block;
      width:90%;
      border-top: 4px solid rgba(119, 119, 119,.5); 
      border-radius:50%;
      margin: auto;
      margin-top: 100px;

}
/* ---------------things to do section-----------------*/

/*make the two child divs in this section fit the parent section of 'things to do'*/


.things-to-do{
    
    position: relative;
    margin-top: 40px;
    height: 760px;
    padding:20px;
    width: 100%;
 

  
}



h2{
    text-align: center;
    text-transform: uppercase;
    color: #E07A37;
    margin-top:20px;
    margin-bottom: 5px;
    font-weight: bold;
   
}

/*
.line-break{
      display: block;
      width:100px;
      border-top: 4px solid #ffd50d; 
      margin: auto;
      margin-top: 10px;
}
*/

.things-to-do__section{
    
    display: flex;
    margin-top:50px;
    line-height: 1.7;
    font-size: 16px;
    color:#000;
    font-weight: bold;
    text-align: center;
}


.coffee{
    margin-bottom: 60px;
}

.dance{
    margin-top: 100px;
}

.things-to-do__section img {
    width:450px;
    height: 250px;

}

/*  -----center things-to-do paragraph for better visualization----  */
.things-to-do__p1,
.things-to-do__p2{
    margin-top: 20px;
    line-height: 2;
}

/*
.things-to-do__p2 {
  
    padding-left:20px;
}
*/

.things-to-do__btn{
    text-transform: uppercase;
    font-size: 18px;
    background-color: #E07A37;
    font-weight: bold;
    width:100px;
    height: 30px;
    margin-top:10px;
}

/*-----places to go---------*/

#places-to-go{
    margin-top:60px;
}

.places-to-go__sections{
    
    display: flex;
    margin-top: 40px;
    text-align: center;
    font-size: 12px;
   
}


.places-to-go__section1{
    margin-right:10px;
}

.places-to-go__sections img{
    margin: 10px;
}

.places-to-go__section-header{
   
    font-size: 18px;
    font-weight: bold; 
}

.places-to-go__text{
    text-align: center;
    padding: 5px;

}

.places-to-go__btn{
    text-transform: uppercase;
    font-size: 18px;
    background-color: #E07A37;
    font-weight: bold;
    width:100px;
    height: 30px;
     
}
/*----------Map-------*/

#site-map{
    margin-top:60px;
    height: 590px;
}



iframe{
   
    margin-top: 30px;
}



/*-------Site Footer-------*/

#section5{


    background-color:  #805215;
    padding: 20px;
    height: 100px;
    color: #fff;
}

.socialMedia{
    
    display: flex;
    justify-content: space-around;
/*    background: blue;*/
    
    

}

.copy-rights {

    position:relative;
    font-size: 12px;
    margin: auto;
    text-align: center;

    font-weight: bold;
    margin-top: 30px;
   

}

/* social icons style*/

.fa-codepen,
.fa-free-code-camp,
.fa-github,
.fa-linkedin{
    
color:  #fff;
    
}



/*---------change opacity of slideshow--------*/

@keyframes fade{
    from {opacity: .5}
    to {opacity:1}
    
}

/*-------Mobile screens landscape and portrait mode-------*/
@media only screen and (min-width:320px)

and (max-width:480px) {
    
    .slideShow-container{
        top:15px;
        margin-bottom: 30px;
    
    }
    
    .prev{
       left:0;
    }
    
    .next{
        right:0;
    }
   
  
        .nav-btn > label{
            
            display:block;
            float:right;
            height:50px;
            width:50px;
            padding:5px;
            

    }
    
     .nav-btn > label > span{
        display:block;
        float:right;
        width:40px;
        height:10px;
        border-top: 2px solid #fff;
        
        
    }
  
      #navbar {
        
        display: block;
        position: absolute;
        transition: all 0.3s ease-in;
        top:30px;
        height: 0px;
        overflow-y:hidden;
        padding:0;
    

    }
    
   #navbar > .current{
       color: #fff; 
    }
    
    #navbar > a {
        display: block;
        width:100%;
      
      
    }
    
   .logo{
       
        position:absolute;
        display:block;
        float:left;
        top:0px;
        left:12px;
        
       
    }
    
    .site-logo{
        font-size: 20px;
        left:0px;
        padding-left:0px;
        
    }
     #nav-check:not(:checked) + #navbar{
         height:0;
    }
    
    #nav-check:checked + #navbar {
         width:100%;
         height: 200px;
         background-color: #805215;
         z-index: 2;
         
    } 


/*Things To Do */
    
.things-to-do__section{
    
  display:block;
    margin:auto;
    
}

    .coffee{
        display:none;
    }
}

/*------Tablets view----------*/

 @media screen and (min-width:768px) and (max-width:1022px){
    
    .prev{
       left:0;
    }
    
    .next{
        right:0;
    }
   
  
        .nav-btn > label{
            
            display:block;
            float:right;
            height:50px;
            width:10px;
            padding:5px;
    
    }
    
     .nav-btn > label > span{
        display:block;
        float:right;
        width:40px;
        height:10px;
        border-top: 2px solid #fff;
        
        
    }
  
      #navbar {
        
        display: block;
        position: absolute;
        transition: all 0.3s ease-in;
        top:30px;
        height: 0px;
        overflow-y:hidden;
        padding:0;
    

    }
    
   #navbar > .current{
       color: #fff; 
    }
    
    #navbar > a {
        display: block;
        width:50%;
      
      
    }
    
   .logo{
       
        position:absolute;
        display:block;
        float:left;
        top:0px;
        left:10px;
       
    }
    
    .site-logo{
        font-size: 25px;
        left:0px;
        padding-left:0px;
        
    }
     #nav-check:not(:checked) + #navbar{
         height:0;
    }
    
    #nav-check:checked + #navbar {
         width:100%;
         height: 200px;
         background-color: #805215;
         z-index: 2;
         
    } 
     
     
/*Things To Do */
     
     
     .things-to-do{
         height: auto;
         margin-top:0;

     }
     
    
     .things-to-do__p1,
     .things-to-do__p2{
         
        margin-top: 0;
        line-height: 1.5;
}
     
     .coffee,
     .dance {
         display:block;
         margin: auto;             
     }
     
     .things-to-do__p1{
         margin-bottom: 30px;
     }
     


/*Place To Go*/
     #places-to-go{
         margin-top:60px;
     }
     
     .places-to-go__sections{
        
         display: block;
         margin:20px;
     }

  }
