/*
COLORS:

red: #E6212D
white: #FFFDFE
yellow:#FECA30
blue: #346DB2

*/
*, 
*:before, 
*:after{
    margin:0;
    padding: 0;
    box-sizing: inherit; 

}

html,
body{
  height: 100%;
  width:100%;
    
}


/* site container*/

.site-container{
    
     /* The height needs to be set to a fixed value for the effect to work.
     * 100vh is the full height of the viewport. */
    
    height:100vh;
    /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    
    overflow-x: hidden;
    
     /* Enable scrolling on the page. */
    overflow-y: auto;
    
    /* defining the prespective property allows us to change the perspective oh how 3D CHILD element gets the perspective view */

    perspective:2px;
      
}
/*------ Site Navbar-----*/

.site-navbar{
    
    position:relative;
    text-align: center;
    background-color:#FECA30;
    justify-content:  center;
  
}


.navbar__section-links{
    
     display: inline-block;
     text-decoration: none;
     padding: 30px;
     font-size: 50px;
     font-family: 'Risque', cursive;
     color:#346DB2;  
  
   
}


.site-navbar__check{
    display:none;
}

a:link,
a:visited {
    text-decoration: none;
 
}

a.current{
    
    color:#E6212D;
 
}

a:hover{
   color: #1c5596;
}

/* home page invitation section */


.site-container__event-section{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center; 
    
}

.img1{
    background-attachment: fixed;
    background-image: url(../images/ian.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}

/* site-container__event-section-content*/

h1 {
    font-family: 'Risque', cursive;
    font-size: 5rem;
    color:#346DB2;
    text-transform: uppercase;
    font-weight: bold;
/*    text-shadow: .1rem .4rem #346DB2;*/
    

}

.site-container__event-section-content{
    
    position: absolute;
    top:10rem;
    background-color: rgba(230, 230, 230, .8);
    width:600px;
    height:250px;
    overflow-y:visible;
    z-index: 3;
}

h3{
    font-family: 'Risque', cursive;
    font-size: 2rem;
    color:#346DB2;
    text-transform: uppercase;
    text-shadow: .1rem .1rem #346DB2;
}

.btn-animated{
    border: .5rem solid #FECA30;
    border-radius:20rem;
    width:8rem;
    background-color:  #FECA30;
    font-size:1.5rem;
    font-family: 'Risque', cursive;
    margin-top: 1.5rem;

}


.site-container__event-date,
.site-container__event-title {
    animation-name: slidesInRight;
    animation-duration: 1.5s;
}
.site-container__event-location,
.site-container__event-purpose {
    animation-name: slidesInLeft;
    animation-duration: 1.5s;
}


/*about Ian section*/
.about-section{
    
    position: relative;
    font-family:  'Risque', cursive;
    color:#000;
    line-height: 3rem;
    min-height: 100%;
    text-align: justify;
}

.about-section__title-img{
    
    justify-content: center;
    text-align: center;
    font-size: 10rem; 
    margin: auto;
    color: #346DB2;
/*    text-shadow: .2rem .2rem #346DB2;*/
    padding: 20rem;
  
     
}

.about-section__img{
    position: relative;
    display: inline-block;
    height: 4rem;
    margin:1rem;
  
}

.about-section__title-img span{
    background-color: rgba(150, 219, 65, .8);
   
}

.about-section__ian{
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Josefin Slab', serif;
    line-height: 2;
    
}

.about-section__paragraph2{
    
    padding: 5rem;
    text-align: justify;
    background-color:  rgb(150, 219, 65);
}


.bg-img1, 
.bg-img2, 
.bg-img3{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.bg-img1{
    background-image: url(../images/ian-prodigy.jpg);
    min-height: 100%;
}
.bg-img2{
    background:rgb(150, 219, 65);
    min-height: 300px;
}
.bg-img3{
    background-image: url(../images/ian-sis.jpg);
    min-height: 500px;
}



/*----------RSVP page---form styles-----------*/


.form-container {   
    
    position: relative;
    background:url(../images/ian.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    margin-top:20px;
    margin-bottom: 20px;
      
}

form h3{
    color:#4CAF50;
    font-size: 50px;
    text-align: center;
}


form{
    display: inline-block;
    overflow-y: hidden;
    position: absolute;
    top:10%;
    left:20%;
    background-color: rgba(230, 230, 230, .8);
    width:750px;
    height:500px;
    padding:10px;
    border-radius: 5px;
   
}

input[type="text"], select {
    
    display: inline-block;
    width:100%;
    padding:10px 5px;
    border:1px solid #ccc;
    border-radius: 4px;
    margin: 8px 0;
    box-sizing: border-box;
}
label{
    margin-bottom: 0;
}


input[type="submit"]{
 
    width:60%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   margin-left: 150px;
    margin-top: 20px;
}

input[type="submit"]:hover{
     background-color: #45a049;
}



/*----Zparty------*/
.party-container{
    height: 1000px;
    background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 253, 254,0.8)), to(rgba(150, 219, 65, .8)));
    margin-bottom: 20px;
    
   
}

#zParty{
    
    display:grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    grid-template-rows: 25rem;
    padding:2rem;
    
}
#zParty > div {
    
    display:flex;
    justify-content: center;
    align-items: center;
}

#zParty > div > img {
    width:100%;
    height: 100%;
    object-fit: cover;
}

.party-info{
    
    text-align: center;
    font-size: 2rem;
    justify-content: center;
    line-height: 2;
    margin:3rem;
    margin-top:80px;
    
    
    
    
}
.party-info p{
    
    font-weight: 900;
    line-height: 2rem;
    font-family: 'Josefin Slab', serif;
    font-size:2rem;
    
}
.party-info h2 {
   
    margin-bottom: 2.5rem;
    font-weight: 700;
    font-family: 'Risque', cursive;
    font-size: 4rem;
/*    color:#FECA30;*/
    color:#346DB2;
    text-transform: uppercase;
/*    text-shadow: .3rem .3rem #346DB2;*/
    margin-bottom:30px;
}

/*-------Site Footer-------*/

#section5{


    background-color: #FECA30;
    padding: 20px;
    color: #346DB2;
    margin-top: 20px;
}

.socialMedia{
    
    display: flex;
    justify-content: space-around;

}

.copy-rights {

    position:relative;
    font-size: 16px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
   

}

/* social icons style*/

.fa-codepen,
.fa-free-code-camp,
.fa-github,
.fa-linkedin{
    
    color:  #346DB2;
    font-size:35px;
    
}


/* Invitation title animation*/

@keyframes slidesInRight{
    
    0%{
         opacity: 0; 
         transform:translateX(-10rem);
        
      }
    
    80%{
        
         transform:translateX(2rem);
       }
    
    100%{
         transform:translateX(0rem);
        
    }
}
@keyframes slidesInLeft{
    
    0%{
         opacity: 0; 
         transform:translateX(10rem);
        
      }
    
    80%{
        
         transform:translateX(-2rem);
       }
    
    100%{
         transform:translateX(0rem);
        
    }
}

@media only screen and (max-width:600px){
    
    .about-section__title-img > span{
        position: relative;
        display: inline-block;
        
    
    }
        
     .about-section__ian{
        font-size: 1rem;
        text-align: center;
    
}   
    .about-section__title-img{
        justify-content: center;
        text-align: center;
        font-size: 5rem; 
        margin: auto;
        color: #FECA30;
        text-shadow: .2rem .2rem #346DB2;
        padding: 7rem;
  
     } 
   
    
}

